#plantillas{
    display:none;    
}

html, 
body, 
#panel_principal, 
.panel_control_rangers,
.panel_control_rangers #div_mapa{
    height:100%;
}

/*make sure the viewport is 100% height*/
html, body {
    height : 100%;
    margin:0px;
}

/*make the page element 100% height*/
.panel_control_rangers {
    height : 100%;
    width : 100%;
    position:relative;
}

.panel_control_rangers #div_mapa{
    position : absolute;
    top      : 0px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
}

.panel_control_rangers #layer_commander{
    position : absolute;
    top      : 0px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
    pointer-events: none;
}